*.pro.user
*.build.user
*.qbs.user
/STM32_PROJECTS/STM32CubeProjects_1/CMakeLists.txt.user
STM32CubeProjects/
/STM32_PROJECTS/F103C8T6_LCD/CMakeLists.txt.user

STM32_PROJECTS/PWM1/.settings/stm32cubeide.project.prefs

STM32_PROJECTS/PWM1/CMakeLists.txt.user

STM32_PROJECTS/PWM2/CMakeLists.txt.user

STM32_PROJECTS/PWM2/.settings/stm32cubeide.project.prefs

*.user

STM32_PROJECTS/PWM1/.settings/language.settings.xml

Embedded_Linux/2_Embedded_Linux_Development_Using_Yocto/.~lock.2_Embedded Linux Development Using Yocto Projects, Second Edition.odt#

Embedded_Linux/3_buildroot/.~lock.3_Simmonds_Buildroot .odt#

*.swp

Embedded_Linux/LEARN/Linux_Rapid_Embedded/.~lock.Linux_Rapid_Embedded.odt#

Embedded_Linux/LEARN/2024_03_15_Kernel_BB_in_Docker/.~lock.Linux_Rapid_Embedded.odt#

Embedded_Linux/LEARN/2024_03_15_Kernel_BB_in_Docker/.~lock.2024_03_15_Kernel_BB_in_Docker.odt#

Embedded_Linux/LEARN/2024_03_15_Kernel_BB/.~lock.2024_03_15_Kernel_BB_in_Docker.odt#

Embedded_Linux/LEARN/2024_03_18_Kernel_BB/.~lock.2024_03_18_Kernel_BB_in_Docker.odt#
