[submodule "Stm32Qt+qbs"]
	path = Stm32Qt+qbs
	url = ../../alekseysidorov/te-stm32f407-qbs-template.git
[submodule "Stm32Qt_qbs2"]
	path = Stm32Qt_qbs2
	url = ../../mcuby/template-qbs-stm32f746g-disco.git
