[submodule "Qbs3_QtCreator template for Milandr microcpu"]
	path = Qbs3_QtCreator template for Milandr microcpu
	url = ../../WicRus/emdr1986x-std-per-lib-qbs.git
[submodule "Milandr_MCU_1986x_Standard_Peripherals_Library"]
	path = Milandr_MCU_1986x_Standard_Peripherals_Library
	url = ../../eldarkg/emdr1986x-std-per-lib.git
[submodule "STM32_PROJECTS/st-flash"]
	path = STM32_PROJECTS/st-flash
	url = ../../texane/stlink.git
[submodule "STM32_PROJECTS/Book_Beginning_STM32"]
	path = STM32_PROJECTS/Book_Beginning_STM32
	url = ../../ve3wwg/stm32f103c8t6.git
