*.pro.user
*.build.user
*.qbs.user
/STM32_PROJECTS/STM32CubeProjects_1/CMakeLists.txt.user
STM32CubeProjects/
/STM32_PROJECTS/F103C8T6_LCD/CMakeLists.txt.user

STM32_PROJECTS/PWM1/.settings/stm32cubeide.project.prefs

STM32_PROJECTS/PWM1/CMakeLists.txt.user

STM32_PROJECTS/PWM2/CMakeLists.txt.user

STM32_PROJECTS/PWM2/.settings/stm32cubeide.project.prefs
